/* Get the actual emoji  font */ 
@import url('https://fonts.googleapis.com/css2?family=Noto+Colr+Emoji+Glyf');

#root {
  font-family: system-ui;
  font-size: 1.5rem;
}

html {
  --background: hsl(0, 0%, 10%);
  --backgroundLight: hsl(0, 0%, 20%);
  --hover: hsl(0, 0%, 25%);
  --color: hsl(0, 0%, 90%);
}


#root {
  color: var(--color);
  background-color: var(--background);
}

